<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact text-center">
            <h3>ISO  Certified</h3>
            <img src="assets/img/iso.png" alt="" width="100px" height="100px">
          </div>

          <div class="col-lg-3 col-md-6 footer-contact text-center">
            <h3>Bank of Ghana</h3>
            <img src="assets/img/bog.png" alt="" width="100px" height="100px">
          </div>


        </div>
      </div>
    </div> 

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright 2020 <strong><span></span></strong>. All Rights Reserved |  Powered by <a href="nsano.com" class="">NSANO </a>  | <a href="" data-toggle="modal" data-target="#terms" >Terms and Conditions</a>
        </div>
      </div>
      <!-- <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div> -->
    </div>
  </footer>



    <!-- Connect to our api -->
    <div class="modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Terms And Conditions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form>
                <ol>
                  <li>
                    This promo only applies to wallet termination
                  </li>
                  <li>
                    Promo valid for only terminations to Ghana
                  </li>
                  <li>
                    MTO will need to prefund all transactions
                  </li>
                  <li>
                    Charge per transaction for first $100,000 is $1

                  </li>
                  <li>
                    Any emergency prefund by Nsano will attract a charge of 1$ despite value of transactions already disbursed.
                  </li>
                </ol>
                 
                </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
          </div>
        </div>
      </div>
    </div>