
<app-header></app-header>

<main id="main">

 
  <section id="clients" class="clients">
    <div class="container-fluid" data-aos="zoom-in">
      <div class="row justify-content-center">
        <div class="col-xl-10">

          <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
              <img src="assets/img/partners/airteltigo.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/partners/mtn.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/partners/stan.jpeg" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/partners/fidelity-new-1.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/partners/expresspay.png" alt="">
            </ng-template>  
            <ng-template carouselSlide>
              <img src="assets/img/partners/vodafone-cash.jpg" alt="">
            </ng-template>  
           
          </owl-carousel-o>
  
        </div>
      </div>
    </div>
  </section>

  <section id="about" class="about section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>About Instant Credit</h2>
      </div>

      <div class="row ">
        <div class="col-xl-6 ">
          <p class="lead justify-content-center">
            Instant Credit is a service that enables real-time termination of remittances to mobile wallets and bank accounts in Africa in fast, secure and convenient manner.
          </p>
          <p class="lead justify-content-center">
Instant Credit offers APIs directly integrated into the mobile money platforms, of MNOs and all banks via standard security protocols. This allows for direct querying and veriﬁcation of customers’ mobile money accounts (active status) and bank accounts for the speciﬁed transactions.
          </p>
        </div>

        <div class="col-xl-6">

          <ol>
            <li class="mb-4">     
              <p >
                Instant Credit offers APIs directly integrated into the mobile money platforms
                of MNOs and all banks via standard security protocols. This allows for direct
                querying and verification of customers’ mobile money accounts (active status)
                and bank accounts for the specified transactions.
              </p>
            </li>
            <li class="mb-4">
              <p >
              A virtual account is created for the IMT on the Instant Credit.
              </p>
            </li>
            <li class="mb-4">
              <p >
              Funds are transferred by the IMT to the Instant Credit bank account and the
              IMT virtual account is immediately credited with the commensurate amount in
              local currency to allow for real-time termination to either wallets or bank
              accounts.
              </p>
            </li>
          </ol>
        </div>
      </div>
   

    </div>
  </section>


  <section id="counts" class="counts">
   
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Our numbers</h2>
      </div>
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="count-box">
            <i class="icofont-world"></i>
            <span [countUp]="12" [options]="{duration: 10}">0</span>
            <p>Countries</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
          <div class="count-box">
            <i class="icofont-file-text"></i>
            <span [countUp]="70000000" [options]="{duration: 10}">0</span>
            <p>Mobile Wallets </p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
          <div class="count-box">
            <i class="icofont-wallet"></i>
            <span [countUp]="120000000" [options]="{duration: 10}">0</span>
            <p>Bank accounts </p>
          </div>
        </div>

      </div>

    </div>
  </section>

  <app-api id="apis"></app-api>

  <!-- <section id="counts" class="counts">
   
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>How Instant Credit Works</h2>
      </div>
      <div class="row justify-content-center">

        <div class="col-6">

          <ol>
            <li class="mb-4">     
              <p class="lead">
                Instant Credit offers APIs directly integrated into the mobile money platforms
                of MNOs and all banks via standard security protocols. This allows for direct
                querying and verification of customers’ mobile money accounts (active status)
                and bank accounts for the specified transactions.
              </p>
            </li>
            <li class="mb-4">
              <p class="lead">
              A virtual account is created for the IMT on the Instant Credit.
              </p>
            </li>
            <li class="mb-4">
              <p class="lead">
              Funds are transferred by the IMT to the Instant Credit bank account and the
              IMT virtual account is immediately credited with the commensurate amount in
              local currency to allow for real-time termination to either wallets or bank
              accounts.
              </p>
            </li>
          </ol>
        </div>
 
      </div>

    </div>
  </section> -->

  <section id="services" class="services section-bg ">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Benefits of working with Instant credit</h2>

      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <i class="icofont-connection"></i>
            <h4><a href="#">APIs Embedded in a Fraud Detection & Prevention Service</a></h4>
            <p>All transactions go through our fraud platform powered by Artificial
              intelligence and Machine learning and  designed to detect and
              prevent the processing of fraudulent transactions. The platform can
              be customized to create fraud rules based on patterns and trends
              required.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <i class="icofont-automation"></i>
            <h4><a href="#">Simple Integration</a></h4>
            <p>A single integration to Instant Credit allows you access to existing
              mobile money platforms and banks accounts as well as potential
              ones. Thus, relieving TransferWise from the hassle of establishing and
              managing connectivity to all MNOs and banks across the continent.</p>
              <br>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <i class="icofont-gears"></i>
            <h4><a href="#">Real-time Processing and Seamless Integration</a></h4>
            <p>With Instant Credit, you are assured of real-time processing of all
              transactions and a dedicated integrations team to ensure a
              smooth and easy integration process.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
            <i class="icofont-tasks-alt"></i>
            <h4><a href="#">Reconciliation</a></h4>
            <p>Daily reconciliations are done for all bank and wallet transactions
              with daily reports sent for all transactions.</p>
              <br>
              <br>
          </div>
       
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
            <i class="icofont-look"></i>
            <h4><a href="#">Transparency</a></h4>
            <p>There is total transparency on the all transactions through
              the tracking portal.
              The tracking portal allows you to;<br>
              - Track real time updates of transactions <br>
              - Generate reports for reconciliation and settlements.</p>
              <br>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
        
            <i class="icofont-lock"></i>
            <h4><a href="#">Security</a></h4>
            <p>Impersonation is near to impossible using our system since the
              customer is identified by a unique phone number (MSISDN) and or
              account number which can be verified with both the bank and
              telecom operator. Upon verification, funds are sent directly into the
              customers wallet/account with no third party interference.</p>
          </div>
        </div>
      </div>

    </div>
  </section>
 

  <app-contact id="contact"></app-contact>
  </main>

  <app-footer></app-footer>
